header {
    background: rgb(0, 26, 255);
    height: 12%;
}

.logo {
    font-weight: bold;
}

nav {
    justify-self: right;
}
ul {
    list-style-type: none;
    margin-top: 10px; padding: 0;
}
li {
    float: left;
}
a {
    padding: 1.5em;
    text-transform: uppercase;
    font-size: .8em;
}
a:hover {
    background: rgb(43, 135, 255);
}
